<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{fragments :: head}"></div>
<title>Foto</title>
</head>
<body style="position: relative;">
	<div class="d-flex gap-4 flex-wrap mt-5 justify-content-evenly">
		<div th:each="foto : ${elencoFoto}"  class="card" style="width: 18rem;">
		  <img th:src="${foto.getUrl()}" class="card-img-top" alt="...">
		  <div class="card-body d-flex flex-column justify-content-between">
		    <h5 class="card-title mt-4" th:text="${foto.getTitolo()}"></h5>
		    <a th:href="@{'foto/'+ ${foto.getId()}}" class="btn btn-primary">Dettails</a>
		  </div>
		</div>
	</div>
	<div class="mt-5 d-flex justify-content-center"><a class="btn btn-success w-50 " th:href="@{'/foto/newFoto'}" style="width: 10%;">Inserisci Nuova Foto</a></div>
	<div class="mt-5 d-flex justify-content-center"><a class="btn btn-secondary w-50 " th:href="@{'/categorie'}" style="width: 10%;">Visualizza categorie</a></div>
<div th:replace="~{fragments :: script}"></div>
</body>
</html>
<style>
	
	.imgPosition{
	width: 250px;
    position: absolute;
    top: 5%;
    transform: translate(50%);
    right: 50%;
	}
</style>