<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Categorie</title>

<link th:replace="~{fragments :: head}"></link>
</head>
<body>
<div class="container">
	<h1>Categorie</h1>
	<table class="table mt-5">
		<thead>
			<tr>
				<td>Nome</td>	
				<td></td>			
			</tr>
		</thead>
		<tbody>
			<tr class="d-flex justify-content-between" th:each="data : ${categorie}">
				<td th:text="${data.categoria}"></td>
				<td class="d-flex">
					<form action="#" th:action="@{'/categorie/delete/{id}'(id=${data.id})}" method="post">
					  <button class="btn btn-danger" type="submit" id="submitButton">Cancella</button>
					</form>
					<a class="btn btn-warning px-3 mx-2" th:href="@{'/categorie/edit/{id}'(id=${data.id})}">Modifica</a>
				</td>
				
			</tr>
		</tbody>
		
		
	</table>
	<div class="d-flex flex-column ">
		<a class="btn btn-success w-50 mb-5" th:href="@{/categorie/create}">Nuova Categoria</a>
		<a class="btn btn-secondary w-50" th:href="@{/foto}"></i>Torna alla Lista delle foto</a>
	</div>
	</div>
	<script th:replace="~{fragments :: script}"></script>
</body>
</html>